[submodule ".registry"]
	path = .registry
	url = https://github.com/cathblatter/cathblatter.r-universe.dev
	branch = HEAD
[submodule "cblttr"]
	path = cblttr
	url = https://github.com/cathblatter/cblttr
[submodule "icons"]
	path = icons
	url = https://github.com/mitchelloharawild/icons
	registered = false
